* {
    margin: 0;   /*預設邊界修改為0*/
    padding: 0;  
}
div.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc; /*底部邊線*/
    padding: 10px 5px;
}

div.nav a{
    text-decoration: none; /*移除下劃線*/
    color: #000; /*導覽列文字連結改為黑色*/
    padding: 5px 10px; /*邊距*/
}

div.nav a.logo {
    display: inline-block; /*縮到行內*/
    font-size: 120%;
}