div.nav {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    // border-bottom: 2px solid rgb(77, 59, 231);
    padding: 20px 20px;

    a {
        text-decoration: none;
        color: rgb(189, 189, 189);
        padding: 2px 2px 2px 5px;
        letter-spacing: 0.1em;

        .logo {
            display: inline-block;
            font-size: 120%;
        }
    }
}

#content {
    margin-left: 3em;
}

.home-content {
    letter-spacing: 0.2em;
}

footer {
    background-color: rgb(38, 182, 226);
    text-align: center;
    color: black;
    font-size: 120%;
    // opacity: 0.5;
    padding: 20px 20px;
}