* {
    margin: 0;
    padding: 0;
}

div.nav {
    background-color: rgb(245, 237, 165);
    // border-bottom: 2px solid rgb(77, 59, 231);
    padding: 5px 20px;

    a {
        text-decoration: none;
        color: #000;
        padding: 5px 10px;

        .logo {
            display: inline-block;
            font-size: 120%;
        }
    }

}