{% load static %}
<div id="sidebar" class="sidenav col-md-3 ">
    <!-- <a id="close-sidebar-btn" class="closebtn"><i class="fas fa-angle-double-left"></i></a> -->
    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        <li>
            <a href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
            <a href="https://github.com/exsky/"><i class="fab fa-github"></i> Github</a>
        </li>
        <li>
            <a href="#articleType" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-newspaper"></i> Articles
            </a>
            <ul class="collapse list-unstyled" id="articleType">
                {% for tp_num, tp_name in all_types.items %}
                <li><a class="subtype" href="type/{{ tp_num }}">{{ tp_name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<span id="sidebar-icon"><i class="fas fa-angle-double-right"></i></span>