{% load static %}
<div id="sidebar" class="sidenav">
    <!-- <a id="close-sidebar-btn" class="closebtn">&times;</a> -->
    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        <li>
            <a href="/">首頁 Home</a>
        </li>
        <!-- <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">文章分類 Article by class</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="https://github.com/exsky/">Github</a>
        </li>
    </ul>
</div>
<span id="sidebar-icon"><i class="fa fa-th-list"></i></span>