{% load static %} 
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- 標題區塊 -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">弱砲筆記</a>
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#contact">Contact</a></li> -->
                <!-- <li><a href="#contact">Contact</a></li> -->
                <li><a href="#login"><i class="fas fa-sign-in-alt"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-wrench"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"><i class="fas fa-users"></i> Member</li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Forget Password</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><i class="fas fa-question-circle"></i> More</li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    {% block topbar %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <footer class="footer navbar-fixed-bottom">
        <small>&copy; Copyright 2020, ShangKuang Yang / exsky</small>
    </footer>
    <!-- 引入 index_bundle.js -->
    <script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    
</body>
</html>